<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthapp.leonor.healthapp" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.healthapp.leonor.healthapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InitialActivity"
            android:label="@string/title_activity_initial" >
        </activity>
        <activity
            android:name=".InfoTemperatureActivity"
            android:label="@string/title_activity_info_temperature" >
        </activity>
        <activity
            android:name=".InfoPulseActivity"
            android:label="@string/title_activity_info_pulse" >
        </activity>
        <activity
            android:name=".InfoOxygenActivity"
            android:label="@string/title_activity_info_oxygen" >
        </activity>
        <activity
            android:name=".InfoConductanceActivity"
            android:label="@string/title_activity_info_conductance" >
        </activity>
        <activity
            android:name=".InfoResistanceActivity"
            android:label="@string/title_activity_info_resistance" >
        </activity>
        <activity
            android:name=".BluetoothConfigActivity"
            android:label="@string/title_activity_bluetooth_config" >
        </activity>
    </application>

</manifest>
